<a href="https://colab.research.google.com/github/CarolineKahalf/Cyberbullying-Detection/blob/main/Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#uploading uncleanData dataset into colab
from google.colab import files
uploaded = files.upload()

Saving uncleanData.csv to uncleanData (3).csv

In [ ]:
import pandas as pd
df=pd.read_csv('uncleanData (3).csv')
df

                           created_at  ... Unnamed: 31
0      Fri Oct 22 06:40:58 +0000 2021  ...         NaN
1      Fri Oct 22 06:40:58 +0000 2021  ...         NaN
2      Fri Oct 22 06:40:57 +0000 2021  ...         NaN
3      Fri Oct 22 06:40:57 +0000 2021  ...         NaN
4      Fri Oct 22 06:40:57 +0000 2021  ...         NaN
...                               ...  ...         ...
10095                             NaN  ...         NaN
10096                             NaN  ...         NaN
10097                             NaN  ...         NaN
10098                             NaN  ...         NaN
10099                             NaN  ...         NaN

[10100 rows x 32 columns]

In [ ]:
df['full_text']

0        RT @luke_wijohn: @LilySimpson1312 Hiding their...
1        RT @HoratioSkald: me at 17: what if people thi...
2        @doseofovershare and forget ab the stupid litt...
3         Fuck I hope I didn’t just do something stupid af
4        @MahmoudKBLuni Stop being so stupid and disres...
                               ...
10095                                          1.45148E+18
10096                                          1.45148E+18
10097                                          1.45148E+18
10098                                          1.45148E+18
10099                                          1.45148E+18
Name: full_text, Length: 10100, dtype: object

In [ ]:
#removing RT
import re
df['full_text'] =df['full_text'].apply(lambda x: re.compile('\#').sub('', re.compile('RT @').sub('@', x, count=1).strip()))
df

                           created_at  ... Unnamed: 31
0      Fri Oct 22 06:40:58 +0000 2021  ...         NaN
1      Fri Oct 22 06:40:58 +0000 2021  ...         NaN
2      Fri Oct 22 06:40:57 +0000 2021  ...         NaN
3      Fri Oct 22 06:40:57 +0000 2021  ...         NaN
4      Fri Oct 22 06:40:57 +0000 2021  ...         NaN
...                               ...  ...         ...
10095                             NaN  ...         NaN
10096                             NaN  ...         NaN
10097                             NaN  ...         NaN
10098                             NaN  ...         NaN
10099                             NaN  ...         NaN

[10100 rows x 32 columns]

In [ ]:
#lowercasing
df_clean=df.full_text.str.lower()
df_clean

0        @luke_wijohn: @lilysimpson1312 hiding their tr...
1        @horatioskald: me at 17: what if people think ...
2        @doseofovershare and forget ab the stupid litt...
3         fuck i hope i didn’t just do something stupid af
4        @mahmoudkbluni stop being so stupid and disres...
                               ...
10095                                          1.45148e+18
10096                                          1.45148e+18
10097                                          1.45148e+18
10098                                          1.45148e+18
10099                                          1.45148e+18
Name: full_text, Length: 10100, dtype: object

In [ ]:
import re
df_clean=df_clean.apply(lambda x: re.sub(r'@[A-Za-z0-9_ ]+','',x))

In [ ]:
df_clean

0        : “i care about language” is stupid for so man...
1        : me at 17: what if people think i'm stupid\nm...
2
3         fuck i hope i didn’t just do something stupid af
4        . your afghan traditions and morals don’t teac...
                               ...
10095                                          1.45148e+18
10096                                          1.45148e+18
10097                                          1.45148e+18
10098                                          1.45148e+18
10099                                          1.45148e+18
Name: full_text, Length: 10100, dtype: object

In [ ]:
len(df_clean)

10100

In [ ]:
#Number of Words
df_clean['word_count'] =df_clean.apply(lambda x: len(str(x).split(" ")))

In [ ]:
#Character Count
df_clean['char_count'] = df_clean.str.len() ## this also includes spaces

In [ ]:
#removing urls
import re
df_clean=df_clean.apply(str)
df_clean = df_clean.apply(lambda x: re.sub(r'https?:\/\/\S+', '', x))

In [ ]:
df_clean.apply(lambda x: re.sub(r"www\.[a-z]?\.?(com)+|[a-z]+\.(com)", '', x))

0             : “i care about language” is stupid for so man...
1             : me at 17: what if people think i'm stupid\nm...
2
3              fuck i hope i didn’t just do something stupid af
4             . your afghan traditions and morals don’t teac...
                                    ...
10097                                               1.45148e+18
10098                                               1.45148e+18
10099                                               1.45148e+18
word_count    0        15\n1        26\n2         1\n3      ...
char_count    0                76\n1               121\n2   ...
Name: full_text, Length: 10102, dtype: object

In [ ]:
#removing placeholders for urls
df_clean= df_clean.apply(lambda x: re.sub(r'{link}', '', x))
df_clean = df_clean.apply(lambda x: re.sub(r"\[video\]", '', x))

In [ ]:
#removing html reference characters
df_clean = df_clean.apply(lambda x: re.sub(r'&[a-z]+;', '', x))

In [ ]:
#removing non letters characters
df_clean = df_clean.apply(lambda x: re.sub(r"[^a-z\s\(\-:\)\\\/\];='#]", '', x))

In [ ]:
#Removing Punctuations
df_clean=df_clean.str.replace('[^\w\s]','')

In [ ]:
df_clean.head()

0     i care about language is stupid for so many r...
1     me at  what if people think im stupid\nme at ...
2
3      fuck i hope i didnt just do something stupid af
4     your afghan traditions and morals dont teach ...
Name: full_text, dtype: object

In [ ]:
import seaborn as sns
import matplotlib.pyplot as mp
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import *
import string
import nltk
import warnings

In [ ]:
#Number of stopwords
import nltk
nltk.download('stopwords')# downlaoding the package.
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
stop = stopwords.words('english')

df_clean['stopwords'] = df_clean.apply(lambda x: len([x for x in x.split() if x in stop]))
df_clean

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

0              i care about language is stupid for so many r...
1              me at  what if people think im stupid\nme at ...
2
3               fuck i hope i didnt just do something stupid af
4              your afghan traditions and morals dont teach ...
                                    ...
10098                                                         e
10099                                                         e
word_count            \n        \n         \n        \n     ...
char_count                    \n               \n           ...
stopwords     0              8
1             14
2           ...
Name: full_text, Length: 10103, dtype: object

In [ ]:
# Removing stopwords
df_clean=df_clean.astype(str)
stop = stopwords.words('english')
df_clean['tweets'] =df_clean.apply(lambda x: " ".join(x for x in x.split() if x not in stop))

In [ ]:
df_clean

                                                    full_text
0            i care about language is stupid for so many r...
1            me at  what if people think im stupid\nme at ...
2
3             fuck i hope i didnt just do something stupid af
4            your afghan traditions and morals dont teach ...
...                                                       ...
10099                                                       e
word_count          \n        \n         \n        \n     ...
char_count                  \n               \n           ...
stopwords   0              8\n1             14\n2         ...
tweets      0                         care language stupid...

[10104 rows x 1 columns]

In [ ]:
df_clean.columns =['tweets']
df_clean

                                                       tweets
0            i care about language is stupid for so many r...
1            me at  what if people think im stupid\nme at ...
2
3             fuck i hope i didnt just do something stupid af
4            your afghan traditions and morals dont teach ...
...                                                       ...
10099                                                       e
word_count          \n        \n         \n        \n     ...
char_count                  \n               \n           ...
stopwords   0              8\n1             14\n2         ...
tweets      0                         care language stupid...

[10104 rows x 1 columns]

In [ ]:
df_clean.to_csv('dataset.csv', encoding='utf-8', index=False)